<footer class="site-footer">
    © <%- new Date().toLocaleDateString('en-us', { timeZone: 'UTC', year:"numeric"}) -%>, Built by <a href="https://github.com/loktar00">Jason Brown - Loktar</a>
</footer>