<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YJDK7X0K15"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YJDK7X0K15');
    </script>
    <meta charSet="utf-8" />
    <meta name="description" content="<%= locals.description || 'Jason Browns Code, demos and ideas.' %>"/>
    <% if (locals.canonical) { %>
    <link rel="canonical" href="https://somethinghitme.com<%= canonical %>">
    <% } %>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Fira+Code:wght@400;500&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="icon" href="/assets/favicon.svg">
    <link rel="manifest" href="/assets/manifest.webmanifest">
    <link rel="apple-touch-icon" sizes="48x48" href="/assets/icons/icon-48x48.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="96x96" href="/assets/icons/icon-96x96.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/icon-144x144.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/assets/icons/icon-192x192.png">
    <link rel="apple-touch-icon" sizes="256x256" href="/assets/icons/icon-256x256.png">
    <link rel="apple-touch-icon" sizes="384x384" href="/assets/icons/icon-384x384.png">
    <link rel="apple-touch-icon" sizes="512x512" href="/assets/icons/icon-512x512.png">
    <link href="/styles/styles.css" rel="stylesheet" />
    <link href="/styles/prism.css" rel="stylesheet" />
    <script src='/js/prism.js'></script>
    <title><%- title -%></title>
</head>