<header class="header">
    <div class="header__headings">
        <h1><a aria-current="page" href="/"><%= data.main.title %></a></h1>
        <h2><%= data.main.tagline %></h2>
    </div>
    <div class="header__toggle">
        <input type="checkbox" class="toggle">
    </div>
    <button class="hamburger-menu" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>