<header class="container">
    <nav class="site-header">
        <button id="theme-trigger" class="logo-trigger" aria-label="Toggle Dark Mode">
            <div class="bulb-container">
                <svg class="logo-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12,2A7,7,0,0,0,5,9C5,11.38,6.19,13.47,8,14.74V17A1,1,0,0,0,9,18H15A1,1,0,0,0,16,17V14.74C17.81,13.47,19,11.38,19,9A7,7,0,0,0,12,2M9,21a1,1,0,0,0,1,1h4a1,1,0,0,0,1-1V20H9v1Z"/>
                </svg>
                <div class="pull-string">
                    <div class="string-line"></div>
                    <div class="string-handle"></div>
                </div>
            </div>
        </button>
        <a href="/" class="logo-text">SomethingHitMe</a>
    </nav>
</header>