<nav class="post-footer">
    <a class="footer-link" rel="prev" href="/">← All Articles</a>
    <%- nextArticle ? `<a class="footer-link" rel="prev" href="/${nextArticle.path}">${nextArticle.title} →</a>` : '' -%>
</nav>