<nav class="nav">
    <ul>
        <%- previousArticle.path ? `<li><a class="link-button" rel="prev" href="/${previousArticle.path}">← ${previousArticle.title}</a></li>` : '' -%>
        <%- nextArticle ? `<li><a class="link-button" rel="prev" href="/${nextArticle.path}">${nextArticle.title} →</a></li>` : '' -%>
    </ul>
</nav>